body {
  background-color: #f5f6f7;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

input {
  width: 90%;
  height: 45px;
  ;
  border-color: #f0f2f7;
  border-radius: 5px;
}

input:focus {
  outline-color: rgb(53, 131, 255);
}

img {
  width: 300px;
  height: auto;

}

.divimage {
  text-align: left;
  max-width: 400px;
  background-position: left center;
  margin-top: 10%;
}

.divimage img {
  margin: 0;
  padding: 0;
}

.divimage p {
  margin: 0;
  width: 500px;
  margin-left: 30px;

}

form {
  margin-top: 10%;
  background-color: white;
  border-radius: 5%;
  height: 350px;
  width: 400px;
  float: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

button {
  display: flex;
  align-items: center;
  width: 60%;
  height: 45px;
  ;
  border-radius: 5px;
  background-color: #42b72a;
  font-size: larger;
  color: white;
  border-color: #42b72a;
}


#face {
  font-size: 30px;
}

a {
  color: #000;
  font-size: 20px;
  text-decoration: none;
}

#submit {
  background-color: #0866ff;
  color: white;
  font-size: x-large
}

#submit:hover {
  background-color: #1877f2;
}

button:hover {
  background-color: #00a400;
}

#passe {
  color: #0866ff;
  text-decoration: none;
  font-size: 15px;
}

#passe:hover {
  text-decoration: underline;
}

.classparagraph {

  position: absolute;
  top: 550px;
  right: 300px;
  font-size: 17px;
  margin-right: 20px;
}

.newclass {
  position: relative;
  top: 90px;
  left: auto;
}

#lte7t {
  width: 70%;
  text-align: center;
}

#a {
  font-size: 15px;
}

#a:hover {
  text-decoration: underline;
}